<div class="row">

</div>
<div id="quiz">
  <h2 class="text-center font-weight-normal">{{quiz.name}}</h2>
  <hr />
  <div class="row" *ngIf="!IsName">
    <div class="col-9">
      <label for="exampleFormControlTextarea1" class="form-label">Select your name</label>
      <select placeholder="Please select your name" class="form-control" [(ngModel)]="Name">
        <option value="">Name</option>
        <option value="અંકિતકુમાર એમ. પટેલ">અંકિતકુમાર એમ. પટેલ</option>
        <option value="અંકિતાબેન એલ. પટેલ">અંકિતાબેન એલ. પટેલ</option>
        <option value="અક્ષયકુમાર એ. ચુડાસમા">અક્ષયકુમાર એ. ચુડાસમા</option>
        <option value="અક્ષયકુમાર એચ. ગોંડલિયા">અક્ષયકુમાર એચ. ગોંડલિયા</option>
        <option value="અક્ષયકુમાર બી. પડવાલા">અક્ષયકુમાર બી. પડવાલા</option>
        <option value="અજયભાઇ વી. ચૌધરી">અજયભાઇ વી. ચૌધરી</option>
        <option value="અજયસિંહ ડી. વિહોલ">અજયસિંહ ડી. વિહોલ</option>
        <option value="અજીતભાઇ બી. દેલવાડીયા">અજીતભાઇ બી. દેલવાડીયા</option>
        <option value="અનસુયાબેન એચ. સારોલા">અનસુયાબેન એચ. સારોલા</option>
        <option value="અનિતાબેન એન. દેસાઈ">અનિતાબેન એન. દેસાઈ</option>
        <option value="અનિલકુમાર જી. ચૌધરી">અનિલકુમાર જી. ચૌધરી</option>
        <option value="અનીતાબેન એસ. જાટ">અનીતાબેન એસ. જાટ</option>
        <option value="અનીતાબેન વી. મકવાણા">અનીતાબેન વી. મકવાણા</option>
        <option value="અબ્દુલભાઇ આર. શેખ">અબ્દુલભાઇ આર. શેખ</option>
        <option value="અબ્બાસભાઇ એ. ભાદરકા">અબ્બાસભાઇ એ. ભાદરકા</option>
        <option value="અરવિંદસિંહ પી ડોડીયા">અરવિંદસિંહ પી ડોડીયા</option>
        <option value="અરૂણાબેન પી. ઇચ્છુંડા">અરૂણાબેન પી. ઇચ્છુંડા</option>
        <option value="અર્જુનભાઈ આર. વસાવા">અર્જુનભાઈ આર. વસાવા</option>
        <option value="અલ્પેશકુમાર કે. દેસાઇ">અલ્પેશકુમાર કે. દેસાઇ</option>
        <option value="અલ્પેશભાઈ ડી. ચૌધરી">અલ્પેશભાઈ ડી. ચૌધરી</option>
        <option value="અવનીબા એ. ઝાલા">અવનીબા એ. ઝાલા</option>
        <option value="અશોકભાઇ સી. ચૌધરી">અશોકભાઇ સી. ચૌધરી</option>
        <option value="અશોકભાઈ એન. પરમાર">અશોકભાઈ એન. પરમાર</option>
        <option value="અશ્વિનભાઇ જી. ચાવડા">અશ્વિનભાઇ જી. ચાવડા</option>
        <option value="અસ્મિતાબેન કે. ચાવડા">અસ્મિતાબેન કે. ચાવડા</option>
        <option value="આશિષકુમાર એમ. રાઠવા">આશિષકુમાર એમ. રાઠવા</option>
        <option value="ઈન્દ્રવિજયસિંહ પી. ઝાલા">ઈન્દ્રવિજયસિંહ પી. ઝાલા</option>
        <option value="ઉદયકુમાર એસ. ગામિત">ઉદયકુમાર એસ. ગામિત</option>
        <option value="ઉમેશકુમાર એચ. ગાળીયા">ઉમેશકુમાર એચ. ગાળીયા</option>
        <option value="ઉમેશભાઇ ડી. ભરોલીયા">ઉમેશભાઇ ડી. ભરોલીયા</option>
        <option value="ઉર્વીશકુમાર ડી. સંગાડા">ઉર્વીશકુમાર ડી. સંગાડા</option>
        <option value="ઉષાબેન આર. ચાવડા">ઉષાબેન આર. ચાવડા</option>
        <option value="ઋષિભાઇ એ. પરમાર">ઋષિભાઇ એ. પરમાર</option>
        <option value="એભલભાઇ ડી. જળુ">એભલભાઇ ડી. જળુ</option>
        <option value="કરણકુમાર એ. સોલંકી">કરણકુમાર એ. સોલંકી</option>
        <option value="કલ્પેશકુમાર જે. પંડયા">કલ્પેશકુમાર જે. પંડયા</option>
        <option value="કલ્પેશભાઇ જે. ચૌધરી">કલ્પેશભાઇ જે. ચૌધરી</option>
        <option value="કશ્મીરાબેન એચ. જાદવ">કશ્મીરાબેન એચ. જાદવ</option>
        <option value="કાજલબેન કે. ચૌહાણ">કાજલબેન કે. ચૌહાણ</option>
        <option value="કાન્તિલાલ એચ. દવે">કાન્તિલાલ એચ. દવે</option>
        <option value="કાર્તિકકુમાર આઇ. મેજીયાતર">કાર્તિકકુમાર આઇ. મેજીયાતર</option>
        <option value="કાર્તિકકુમાર એ. પટેલ">કાર્તિકકુમાર એ. પટેલ</option>
        <option value="કિંજલબેન આર. ચૌધરી">કિંજલબેન આર. ચૌધરી</option>
        <option value="કિંજલબેન એ. સોલંકી">કિંજલબેન એ. સોલંકી</option>
        <option value="કિંજલબેન જે. ચૌધરી">કિંજલબેન જે. ચૌધરી</option>
        <option value="કિરણકુમાર એસ. રાઠવા">કિરણકુમાર એસ. રાઠવા</option>
        <option value="કિરણસિંહ સી. પુવાર">કિરણસિંહ સી. પુવાર</option>
        <option value="કિશોરભાઈ જી. ભેડા">કિશોરભાઈ જી. ભેડા</option>
        <option value="કુંદનબેન આર. ડોડીયા">કુંદનબેન આર. ડોડીયા</option>
        <option value="કુલદિપસિંહ આર. જાડેજા">કુલદિપસિંહ આર. જાડેજા</option>
        <option value="કુલદીપભાઇ એસ. કઠવાડિયા">કુલદીપભાઇ એસ. કઠવાડિયા</option>
        <option value="કુલદીપસિંહ પી. ઝાલા">કુલદીપસિંહ પી. ઝાલા</option>
        <option value="કેતનભાઇ એમ. બારૈયા">કેતનભાઇ એમ. બારૈયા</option>
        <option value="કેવિનભાઇ એ. રૈયાણી">કેવિનભાઇ એ. રૈયાણી</option>
        <option value="કૈલાશભાઈ આર. ભુરીયા">કૈલાશભાઈ આર. ભુરીયા</option>
        <option value="કૈલાસભાઇ એમ. રાણા">કૈલાસભાઇ એમ. રાણા</option>
        <option value="કોમલબેન ડી. ભટ્ટ">કોમલબેન ડી. ભટ્ટ</option>
        <option value="કૌશિક આર. ચરપોટ">કૌશિક આર. ચરપોટ</option>
        <option value="કૌશિકભાઇ બી. ગોહિલ">કૌશિકભાઇ બી. ગોહિલ</option>
        <option value="ક્રિષ્નાબેન એ. ચૌધરી">ક્રિષ્નાબેન એ. ચૌધરી</option>
        <option value="ક્રિષ્નાબેન એમ. સોલંકી">ક્રિષ્નાબેન એમ. સોલંકી</option>
        <option value="ક્રિષ્નાબેન એસ. કટારા">ક્રિષ્નાબેન એસ. કટારા</option>
        <option value="ખાતુંભાઈ પી. પરમાર">ખાતુંભાઈ પી. પરમાર</option>
        <option value="ગીતાબેન જી. જાંબુચા">ગીતાબેન જી. જાંબુચા</option>
        <option value="ગીરીરાજસિંહ ડી. ઝાલા">ગીરીરાજસિંહ ડી. ઝાલા</option>
        <option value="ગોપાલભાઇ એમ. રાઠોડ">ગોપાલભાઇ એમ. રાઠોડ</option>
        <option value="ગોવિંદભાઈ જે. કાલિયા">ગોવિંદભાઈ જે. કાલિયા</option>
        <option value="ગૌરાંગભાઇ આર. ભરવાડ">ગૌરાંગભાઇ આર. ભરવાડ</option>
        <option value="ઘેમરભાઈ ડી. ફોફ">ઘેમરભાઈ ડી. ફોફ</option>
        <option value="ચીરાગભાઇ એલ. પટેલ">ચીરાગભાઇ એલ. પટેલ</option>
        <option value="ચેતનાબેન એલ. પટેલ">ચેતનાબેન એલ. પટેલ</option>
        <option value="જગદીશભાઇ એન. મકવાણા">જગદીશભાઇ એન. મકવાણા</option>
        <option value="જનકભાઇ ડી. ચૌધરી">જનકભાઇ ડી. ચૌધરી</option>
        <option value="જયકિશનભાઇ એન. ગમારા">જયકિશનભાઇ એન. ગમારા</option>
        <option value="જયકુંજસિહ જે. વિહોલ">જયકુંજસિહ જે. વિહોલ</option>
        <option value="જયદિપકુમાર ડી. પટેલ">જયદિપકુમાર ડી. પટેલ</option>
        <option value="જયદેવભાઇ બી. જાદવ">જયદેવભાઇ બી. જાદવ</option>
        <option value="જયભાઇ સી. ધાંધલ્યા">જયભાઇ સી. ધાંધલ્યા</option>
        <option value="જયમીનસિંહ એ. સિંધવ">જયમીનસિંહ એ. સિંધવ</option>
        <option value="જયશ્રીબેન જી. ખાંડલા">જયશ્રીબેન જી. ખાંડલા</option>
        <option value="જલ્પાબેન કે. બારૈયા">જલ્પાબેન કે. બારૈયા</option>
        <option value="જલ્પાબેન ડી. મેખિયા">જલ્પાબેન ડી. મેખિયા</option>
        <option value="જશવંતકુમાર એમ. વરસાળે">જશવંતકુમાર એમ. વરસાળે</option>
        <option value="જાનકીબેન એન. રામાનુજ">જાનકીબેન એન. રામાનુજ</option>
        <option value="જાનકીબેન જે. કાનગડ">જાનકીબેન જે. કાનગડ</option>
        <option value="જિજ્ઞાસાબેન આર. જીણીયા">જિજ્ઞાસાબેન આર. જીણીયા</option>
        <option value="જીગરકુમાર આર. ચૌધરી">જીગરકુમાર આર. ચૌધરી</option>
        <option value="જીગરકુમાર પી. પટેલ">જીગરકુમાર પી. પટેલ</option>
        <option value="જીજ્ઞેશભાઇ ટી. ચૌધરી">જીજ્ઞેશભાઇ ટી. ચૌધરી</option>
        <option value="જેમિશભાઇ એમ. વાછાણી">જેમિશભાઇ એમ. વાછાણી</option>
        <option value="જેશંગભાઈ આર. પરમાર">જેશંગભાઈ આર. પરમાર</option>
        <option value="ટીનાભાઈ એચ. રબારી">ટીનાભાઈ એચ. રબારી</option>
        <option value="તરૂણભાઇ બી. પટેલ">તરૂણભાઇ બી. પટેલ</option>
        <option value="તુષારભાઈ કે. મેર">તુષારભાઈ કે. મેર</option>
        <option value="તુષારસિંહ બી. ડાભી">તુષારસિંહ બી. ડાભી</option>
        <option value="તેજલબેન સી. પટેલ">તેજલબેન સી. પટેલ</option>
        <option value="તેરસિંગભાઈ વી. ગરોડ">તેરસિંગભાઈ વી. ગરોડ</option>
        <option value="દર્શકકુમાર પી. ઓઝા">દર્શકકુમાર પી. ઓઝા</option>
        <option value="દિગ્વિજયસિંહ એચ. સરવૈયા">દિગ્વિજયસિંહ એચ. સરવૈયા</option>
        <option value="દિગ્વિજયસિંહ એલ. વાઘેલા">દિગ્વિજયસિંહ એલ. વાઘેલા</option>
        <option value="દિપકકુમાર એમ. રેણુકા">દિપકકુમાર એમ. રેણુકા</option>
        <option value="દિપકકુમાર એસ. ડામોર">દિપકકુમાર એસ. ડામોર</option>
        <option value="દિપકભાઇ આઇ. મોદી">દિપકભાઇ આઇ. મોદી</option>
        <option value="દિપકભાઇ આર. ચૌધરી">દિપકભાઇ આર. ચૌધરી</option>
        <option value="દિપીકાબેન સી. વસાવા">દિપીકાબેન સી. વસાવા</option>
        <option value="દિલીપકુમાર કે. ગોહિલ">દિલીપકુમાર કે. ગોહિલ</option>
        <option value="દિશીન પી. ગાંધી">દિશીન પી. ગાંધી</option>
        <option value="ધર્મિષ્ઠાબેન આર. પટેલ">ધર્મિષ્ઠાબેન આર. પટેલ</option>
        <option value="ધર્મેશભાઇ બી. પટેલ">ધર્મેશભાઇ બી. પટેલ</option>
        <option value="ધવલભાઇ એસ. ચૌધરી">ધવલભાઇ એસ. ચૌધરી</option>
        <option value="ધીરજકુમાર એમ. ચૌધરી">ધીરજકુમાર એમ. ચૌધરી</option>
        <option value="ધીરેનભાઇ જે. ગુસાઇ">ધીરેનભાઇ જે. ગુસાઇ</option>
        <option value="નયનકુમાર વી. વાઘેલા">નયનકુમાર વી. વાઘેલા</option>
        <option value="નયનાબેન બી. ડવ">નયનાબેન બી. ડવ</option>
        <option value="નરપતસિંહ એચ. સોઢા">નરપતસિંહ એચ. સોઢા</option>
        <option value="નરેશભાઇ એસ. સોનારા">નરેશભાઇ એસ. સોનારા</option>
        <option value="નાગજીભાઈ બી. રબારી">નાગજીભાઈ બી. રબારી</option>
        <option value="નારણભાઈ બી. ગળચર">નારણભાઈ બી. ગળચર</option>
        <option value="નિકિતાબેન વી. પાટીલ">નિકિતાબેન વી. પાટીલ</option>
        <option value="નિકુંજભાઇ એચ. ઝાલા">નિકુંજભાઇ એચ. ઝાલા</option>
        <option value="નિધીબેન કે. ચાવડા">નિધીબેન કે. ચાવડા</option>
        <option value="નિલેશભાઇ જે. ડોડીયા">નિલેશભાઇ જે. ડોડીયા</option>
        <option value="નિશાબેન કે. ભીમાણી">નિશાબેન કે. ભીમાણી</option>
        <option value="નિશાબેન પી. મકવાણા">નિશાબેન પી. મકવાણા</option>
        <option value="નિસર્ગભાઇ વી. ઓઝા">નિસર્ગભાઇ વી. ઓઝા</option>
        <option value="નીરવભાઇ ચાવડા">નીરવભાઇ ચાવડા</option>
        <option value="નીરવભાઇ વી. પટેલ">નીરવભાઇ વી. પટેલ</option>
        <option value="નુતનબેન ડી. ગૌતમ">નુતનબેન ડી. ગૌતમ</option>
        <option value="પંકજકુમાર એન. ચાવડા">પંકજકુમાર એન. ચાવડા</option>
        <option value="પંકજભાઇ એસ. પટેલ">પંકજભાઇ એસ. પટેલ</option>
        <option value="પંકજભાઇ પી. જાંબુકીયા">પંકજભાઇ પી. જાંબુકીયા</option>
        <option value="પંકજસિંહ બી. જાડેજા">પંકજસિંહ બી. જાડેજા</option>
        <option value="પરેશકુમાર એચ. ખસિયા">પરેશકુમાર એચ. ખસિયા</option>
        <option value="પરેશાબેન એન. ચૌધરી">પરેશાબેન એન. ચૌધરી</option>
        <option value="પલ્કેશભાઇ એ. સોલંકી">પલ્કેશભાઇ એ. સોલંકી</option>
        <option value="પાયલબેન એસ. પટેલ">પાયલબેન એસ. પટેલ</option>
        <option value="પાર્થિવભાઇ આર. સોલંકી">પાર્થિવભાઇ આર. સોલંકી</option>
        <option value="પિયુષકુમાર એમ. ચૌધરી">પિયુષકુમાર એમ. ચૌધરી</option>
        <option value="પીનલબેન કે. દિક્ષીત">પીનલબેન કે. દિક્ષીત</option>
        <option value="પુજાબેન એફ. સોલંકી">પુજાબેન એફ. સોલંકી</option>
        <option value="પૂજાબેન જે. ભાટિયા">પૂજાબેન જે. ભાટિયા</option>
        <option value="પૂજાલ એન. પારેખ">પૂજાલ એન. પારેખ</option>
        <option value="પ્રકાશકુમાર એ. પ્રજાપતિ">પ્રકાશકુમાર એ. પ્રજાપતિ</option>
        <option value="પ્રકાશકુમાર બી. પટેલ">પ્રકાશકુમાર બી. પટેલ</option>
        <option value="પ્રકાશદાન આર. ગઢવી">પ્રકાશદાન આર. ગઢવી</option>
        <option value="પ્રકાશભાઇ એન. ગામીત">પ્રકાશભાઇ એન. ગામીત</option>
        <option value="પ્રતાપસિંહ એસ. ઠાકોર">પ્રતાપસિંહ એસ. ઠાકોર</option>
        <option value="પ્રતિક્ષાબેન ડી. ભાટીયા">પ્રતિક્ષાબેન ડી. ભાટીયા</option>
        <option value="પ્રતિપાલભાઈ એમ વાળા">પ્રતિપાલભાઈ એમ વાળા</option>
        <option value="પ્રતીકકુમાર જે. રાઠવા">પ્રતીકકુમાર જે. રાઠવા</option>
        <option value="પ્રદિપભાઇ જી. રત્નુ">પ્રદિપભાઇ જી. રત્નુ</option>
        <option value="પ્રદિપભાઇ ડી. ગેલાત">પ્રદિપભાઇ ડી. ગેલાત</option>
        <option value="પ્રદિપસિંહ જે. રાજપૂત">પ્રદિપસિંહ જે. રાજપૂત</option>
        <option value="પ્રદીપકુમાર બી. કટારા">પ્રદીપકુમાર બી. કટારા</option>
        <option value="પ્રદીપભાઇ એસ. ગામીત">પ્રદીપભાઇ એસ. ગામીત</option>
        <option value="પ્રદીપભાઇ વી. બારડ">પ્રદીપભાઇ વી. બારડ</option>
        <option value="પ્રફુલ્લભાઇ વી. જોશી">પ્રફુલ્લભાઇ વી. જોશી</option>
        <option value="પ્રવિણકુમાર પી. સોલંકી">પ્રવિણકુમાર પી. સોલંકી</option>
        <option value="પ્રશાંતકુમાર પી. મેર">પ્રશાંતકુમાર પી. મેર</option>
        <option value="પ્રિતેશભાઇ બી. માળીયા">પ્રિતેશભાઇ બી. માળીયા</option>
        <option value="પ્રિયંકભાઇ જે. પટેલ">પ્રિયંકભાઇ જે. પટેલ</option>
        <option value="પ્રિયંકાબેન એલ. જાની">પ્રિયંકાબેન એલ. જાની</option>
        <option value="પ્રિયલબેન ડી. દિહોરા">પ્રિયલબેન ડી. દિહોરા</option>
        <option value="બકુલભાઇ આર. ચૌધરી">બકુલભાઇ આર. ચૌધરી</option>
        <option value="બાલકૃષ્ણભાઇ એન. જાળેલા">બાલકૃષ્ણભાઇ એન. જાળેલા</option>
        <option value="બાલક્રીષ્ન એમ. પટેલ">બાલક્રીષ્ન એમ. પટેલ</option>
        <option value="બાલુભાઈ એચ. ગળચર">બાલુભાઈ એચ. ગળચર</option>
        <option value="બિંદેશ્વરીબેન બી પટેલ">બિંદેશ્વરીબેન બી પટેલ</option>
        <option value="બીજલબેન જે. ચૌધરી">બીજલબેન જે. ચૌધરી</option>
        <option value="બીપીનભાઇ બી. પટેલ">બીપીનભાઇ બી. પટેલ</option>
        <option value="બ્રિજેશકુમાર એમ. કટારા">બ્રિજેશકુમાર એમ. કટારા</option>
        <option value="ભરતભાઇ એચ. ખાંભલા">ભરતભાઇ એચ. ખાંભલા</option>
        <option value="ભરતભાઇ એન. ચૌધરી">ભરતભાઇ એન. ચૌધરી</option>
        <option value="ભરતસિંહ એચ. ગઢવી">ભરતસિંહ એચ. ગઢવી</option>
        <option value="ભાણજીભાઈ જી. બાંભણીયા">ભાણજીભાઈ જી. બાંભણીયા</option>
        <option value="ભારતીબેન એ. ભીટોરા">ભારતીબેન એ. ભીટોરા</option>
        <option value="ભાવનાબેન એસ. પટેલ">ભાવનાબેન એસ. પટેલ</option>
        <option value="ભાવિકાબેન ડી. વાણિયા">ભાવિકાબેન ડી. વાણિયા</option>
        <option value="ભાવેશકુમાર એમ. પરમાર">ભાવેશકુમાર એમ. પરમાર</option>
        <option value="ભુમિકાબેન એન. ડોડીયા">ભુમિકાબેન એન. ડોડીયા</option>
        <option value="ભૂમીબેન સી. પંચાલ">ભૂમીબેન સી. પંચાલ</option>
        <option value="મંદિપકુમાર એન. ચૌહાણ">મંદિપકુમાર એન. ચૌહાણ</option>
        <option value="મનસુખભાઇ એસ.રાઠોડ">મનસુખભાઇ એસ.રાઠોડ</option>
        <option value="મનહરસિંહ ડી. મોરી">મનહરસિંહ ડી. મોરી</option>
        <option value="મનહરસિંહ યુ. જનવાર">મનહરસિંહ યુ. જનવાર</option>
        <option value="મનિષાબેન આર. ડાંગર">મનિષાબેન આર. ડાંગર</option>
        <option value="મનિષાબેન બી. બાંભણિયા">મનિષાબેન બી. બાંભણિયા</option>
        <option value="મનુભાઈ જી. નાનોલીયા">મનુભાઈ જી. નાનોલીયા</option>
        <option value="મનુભાઈ બી. બારડ">મનુભાઈ બી. બારડ</option>
        <option value="મનોજકુમાર આર. પંડ્યા">મનોજકુમાર આર. પંડ્યા</option>
        <option value="મનોજભાઈ આર. સોલંકી">મનોજભાઈ આર. સોલંકી</option>
        <option value="મયુરભાઇ જી. પરમાર">મયુરભાઇ જી. પરમાર</option>
        <option value="મહંમદહનીફ આર. માલવી">મહંમદહનીફ આર. માલવી</option>
        <option value="મહેશભાઇ ટી. કાંબરીયા">મહેશભાઇ ટી. કાંબરીયા</option>
        <option value="મહેશભાઇ બી. બત્તા">મહેશભાઇ બી. બત્તા</option>
        <option value="મહેશભાઈ એમ. ચૌધરી">મહેશભાઈ એમ. ચૌધરી</option>
        <option value="માધવીબેન બી. રાઠોડ">માધવીબેન બી. રાઠોડ</option>
        <option value="માધુરીબેન જી. રીઝવાણી">માધુરીબેન જી. રીઝવાણી</option>
        <option value="મિતલબેન એમ. મહેશ્વરી">મિતલબેન એમ. મહેશ્વરી</option>
        <option value="મિતલબેન એસ. ઠુંમર">મિતલબેન એસ. ઠુંમર</option>
        <option value="મિત્તલબેન આર. પરમાર">મિત્તલબેન આર. પરમાર</option>
        <option value="મિલનભાઇ આર. રાવલ">મિલનભાઇ આર. રાવલ</option>
        <option value="મુકેશભાઈ વી. પંડયા">મુકેશભાઈ વી. પંડયા</option>
        <option value="મેઘાબા એન. ચાવડા">મેઘાબા એન. ચાવડા</option>
        <option value="મેહુલકુમાર એન. ચૌધરી">મેહુલકુમાર એન. ચૌધરી</option>
        <option value="મેહુલકુમાર એમ. ચૌધરી">મેહુલકુમાર એમ. ચૌધરી</option>
        <option value="મેહુલભાઇ એ. વડાવલીયા">મેહુલભાઇ એ. વડાવલીયા</option>
        <option value="મેહુલભાઇ જે. ચોસલા">મેહુલભાઇ જે. ચોસલા</option>
        <option value="મેહુલભાઈ વી. રથવી">મેહુલભાઈ વી. રથવી</option>
        <option value="મોનિકાબેન એન. મોડીયા">મોનિકાબેન એન. મોડીયા</option>
        <option value="મોહિતસિંહ વી. પાવરા">મોહિતસિંહ વી. પાવરા</option>
        <option value="મૌલિકભાઇ ડી. પટેલ">મૌલિકભાઇ ડી. પટેલ</option>
        <option value="મૌલિકભાઇ સી. સોલંકી">મૌલિકભાઇ સી. સોલંકી</option>
        <option value="યશભાઇ બી. ચૌધરી">યશભાઇ બી. ચૌધરી</option>
        <option value="યુવરાજસિંહ એન. ચાવડા">યુવરાજસિંહ એન. ચાવડા</option>
        <option value="યુવરાજસિંહ બી. ભંડારી">યુવરાજસિંહ બી. ભંડારી</option>
        <option value="યુવરાજસિંહ બી. રાઠોડ">યુવરાજસિંહ બી. રાઠોડ</option>
        <option value="યોગેન્દ્રભાઇ જે. વાળા">યોગેન્દ્રભાઇ જે. વાળા</option>
        <option value="યોગેશકુમાર પી. બારૈયા">યોગેશકુમાર પી. બારૈયા</option>
        <option value="યોગેશભાઇ એ . વળવી">યોગેશભાઇ એ . વળવી</option>
        <option value="યોગેશભાઇ જી. રાવલ">યોગેશભાઇ જી. રાવલ</option>
        <option value="યોગેશભાઇ પી. ભટ્ટી">યોગેશભાઇ પી. ભટ્ટી</option>
        <option value="રણજીતભાઇ ઓ. મકવાણા">રણજીતભાઇ ઓ. મકવાણા</option>
        <option value="રમીલાભાઇ બી. મકવાના">રમીલાભાઇ બી. મકવાના</option>
        <option value="રમેશભાઇ બી. ડિહોરા">રમેશભાઇ બી. ડિહોરા</option>
        <option value="રમેશભાઇ બી. ભુખયા">રમેશભાઇ બી. ભુખયા</option>
        <option value="રવિકાંતભાઇ એચ. વસાવા">રવિકાંતભાઇ એચ. વસાવા</option>
        <option value="રવિભાઇ કે. મકવાણા">રવિભાઇ કે. મકવાણા</option>
        <option value="રવિભાઇ જી. ધવાણીયા">રવિભાઇ જી. ધવાણીયા</option>
        <option value="રવીકુમાર પી. સિંધવ">રવીકુમાર પી. સિંધવ</option>
        <option value="રવીન્દ્રભાઇ એચ. ચાવડા">રવીન્દ્રભાઇ એચ. ચાવડા</option>
        <option value="રવીસિંહ સી. બારાડ">રવીસિંહ સી. બારાડ</option>
        <option value="રસિકભાઇ બી. વસવેલીયા">રસિકભાઇ બી. વસવેલીયા</option>
        <option value="રાકેશકુમાર વી. માનજીભાઈ">રાકેશકુમાર વી. માનજીભાઈ</option>
        <option value="રાકેશભાઇ એ. કંડોલીયા">રાકેશભાઇ એ. કંડોલીયા</option>
        <option value="રાકેશભાઈ એમ. કાતરીયા">રાકેશભાઈ એમ. કાતરીયા</option>
        <option value="રાજકુમાર કે. ગોહિલ">રાજકુમાર કે. ગોહિલ</option>
        <option value="રાજદિપસિંહ બી. રાઠોડ">રાજદિપસિંહ બી. રાઠોડ</option>
        <option value="રાજદીપસિંહ ડી. જાડેજા">રાજદીપસિંહ ડી. જાડેજા</option>
        <option value="રાજુભાઇ કે. દેસાઈ">રાજુભાઇ કે. દેસાઈ</option>
        <option value="રાજેશભાઇ એન. ગાગીયા">રાજેશભાઇ એન. ગાગીયા</option>
        <option value="રાયમલભાઇ જે. લાવડિયા">રાયમલભાઇ જે. લાવડિયા</option>
        <option value="રાહુલકુમાર જે. વનાણી">રાહુલકુમાર જે. વનાણી</option>
        <option value="રાહુલકુમાર વી. જેઠવા">રાહુલકુમાર વી. જેઠવા</option>
        <option value="રાહુલભાઇ આર. વાવડીયા">રાહુલભાઇ આર. વાવડીયા</option>
        <option value="રાહુલભાઈ પી.જાંબુકીયા">રાહુલભાઈ પી.જાંબુકીયા</option>
        <option value="રીટાબેન પી. વૈષ્ણવ">રીટાબેન પી. વૈષ્ણવ</option>
        <option value="રીધ્ધીબેન એમ. રાઠોડ">રીધ્ધીબેન એમ. રાઠોડ</option>
        <option value="રૂપાબેન એમ. ખીમસુરિયા">રૂપાબેન એમ. ખીમસુરિયા</option>
        <option value="રેખાબેન આર. કનારા">રેખાબેન આર. કનારા</option>
        <option value="રોનકકુમાર કે. સેનમા">રોનકકુમાર કે. સેનમા</option>
        <option value="રોહિતભાઇ બી. બારૈયા">રોહિતભાઇ બી. બારૈયા</option>
        <option value="લક્ષ્મણભાઈ દેસાઈ">લક્ષ્મણભાઈ દેસાઈ</option>
        <option value="લલિતાબેન એ. પરમાર">લલિતાબેન એ. પરમાર</option>
        <option value="લાલજીભાઈ જે. ભીલ">લાલજીભાઈ જે. ભીલ</option>
        <option value="લાલભા ડી. લીંબોલા">લાલભા ડી. લીંબોલા</option>
        <option value="લાલુભાઇ આર. કમાળીયા">લાલુભાઇ આર. કમાળીયા</option>
        <option value="વંદનાબેન કે. શ્રીમાળી">વંદનાબેન કે. શ્રીમાળી</option>
        <option value="વનિતાબેન જી. દાતણિયા">વનિતાબેન જી. દાતણિયા</option>
        <option value="વસીમહસન એમ. શેખ">વસીમહસન એમ. શેખ</option>
        <option value="વિક્રમભાઈ ડી. ઝાંપડિયા">વિક્રમભાઈ ડી. ઝાંપડિયા</option>
        <option value="વિજયકુમાર ડી પરમાર">વિજયકુમાર ડી પરમાર</option>
        <option value="વિજયભાઇ એમ. ગોજીયા">વિજયભાઇ એમ. ગોજીયા</option>
        <option value="વિજયભાઇ એસ. લીંબડીયા">વિજયભાઇ એસ. લીંબડીયા</option>
        <option value="વિજયભાઇ ડી. શિંગરખીયા">વિજયભાઇ ડી. શિંગરખીયા</option>
        <option value="વિજયભાઇ બી. પટેલ">વિજયભાઇ બી. પટેલ</option>
        <option value="વિજયભાઇ વી. કોડીયાતર">વિજયભાઇ વી. કોડીયાતર</option>
        <option value="વિજયસિંહ એસ. ડોડિયા">વિજયસિંહ એસ. ડોડિયા</option>
        <option value="વિદેશભાઈ બી. ચૌહાણ">વિદેશભાઈ બી. ચૌહાણ</option>
        <option value="વિપુલકુમાર આઇ. પટેલ">વિપુલકુમાર આઇ. પટેલ</option>
        <option value="વિપુલભાઇ કે. નાયક">વિપુલભાઇ કે. નાયક</option>
        <option value="વિપુલભાઇ પી. બોરીચા">વિપુલભાઇ પી. બોરીચા</option>
        <option value="વિમલદાન કે. ગઢવી">વિમલદાન કે. ગઢવી</option>
        <option value="વિશાખાબેન એ. બુધ્ધદેવ">વિશાખાબેન એ. બુધ્ધદેવ</option>
        <option value="વિશાલકુમાર ડી. ગામિત">વિશાલકુમાર ડી. ગામિત</option>
        <option value="વીણાબેન પી. સિંધવ">વીણાબેન પી. સિંધવ</option>
        <option value="વીરાભાઇ આર. ઉલવા">વીરાભાઇ આર. ઉલવા</option>
        <option value="વેજીબેન એ. ચાવડા">વેજીબેન એ. ચાવડા</option>
        <option value="શામાળભાઈ ઓ. રબારી">શામાળભાઈ ઓ. રબારી</option>
        <option value="શિરીષભાઇ પી. કામેજળીયા">શિરીષભાઇ પી. કામેજળીયા</option>
        <option value="શિવમભાઇ જે. ભટ્ટ">શિવમભાઇ જે. ભટ્ટ</option>
        <option value="શિવરાજસિંહ એસ. જાડેજા">શિવરાજસિંહ એસ. જાડેજા</option>
        <option value="શીતલબેન એલ. રબારી">શીતલબેન એલ. રબારી</option>
        <option value="શેલૈષભાઇ આર. રબારી">શેલૈષભાઇ આર. રબારી</option>
        <option value="સંકેતકુમાર બી. પટેલ">સંકેતકુમાર બી. પટેલ</option>
        <option value="સંગીતાબેન એચ. ડાભી">સંગીતાબેન એચ. ડાભી</option>
        <option value="સંગીતાબેન પી. પરમાર">સંગીતાબેન પી. પરમાર</option>
        <option value="સંજયકુમાર કે. તડવી">સંજયકુમાર કે. તડવી</option>
        <option value="સંજયકુમાર કે. વાળંદ">સંજયકુમાર કે. વાળંદ</option>
        <option value="સંજયભાઇ એ. રબારી">સંજયભાઇ એ. રબારી</option>
        <option value="સંજયભાઇ એલ. રાઠોડ">સંજયભાઇ એલ. રાઠોડ</option>
        <option value="સંજયભાઇ જી. વાળા">સંજયભાઇ જી. વાળા</option>
        <option value="સંજયભાઇ પી.સોલંકી">સંજયભાઇ પી.સોલંકી</option>
        <option value="સંજયસિંહ બી. વાઘેલા">સંજયસિંહ બી. વાઘેલા</option>
        <option value="સંદિપભાઇ એમ. કસવાળા">સંદિપભાઇ એમ. કસવાળા</option>
        <option value="સંદીપભાઇ જી. રાવળ">સંદીપભાઇ જી. રાવળ</option>
        <option value="સતિષકુમાર આર. સાંકળીયા">સતિષકુમાર આર. સાંકળીયા</option>
        <option value="સતિષભાઇ ટી. સોલંકી">સતિષભાઇ ટી. સોલંકી</option>
        <option value="સતિષભાઈ વી. તડવી">સતિષભાઈ વી. તડવી</option>
        <option value="સહદેવભાઇ એમ. કાણોતરા">સહદેવભાઇ એમ. કાણોતરા</option>
        <option value="સહદેવભાઇ વી. રાઠોડ">સહદેવભાઇ વી. રાઠોડ</option>
        <option value="સહદેવસિંહ એમ. રાઠોડ">સહદેવસિંહ એમ. રાઠોડ</option>
        <option value="સુધીરભાઇ પી પટેલ">સુધીરભાઇ પી પટેલ</option>
        <option value="સુનિતાબેન જી. ભરડવા">સુનિતાબેન જી. ભરડવા</option>
        <option value="સુમનબેન એમ. રાવલ">સુમનબેન એમ. રાવલ</option>
        <option value="સુરજભાઇ એન. પવાર">સુરજભાઇ એન. પવાર</option>
        <option value="સુરેશભાઇ કે. ચુડાસમા">સુરેશભાઇ કે. ચુડાસમા</option>
        <option value="સોનલબેન જી.રબારી">સોનલબેન જી.રબારી</option>
        <option value="સોમાભાઈ બી. સોલંકી">સોમાભાઈ બી. સોલંકી</option>
        <option value="સૌરભભાઇ પી. રાવલ">સૌરભભાઇ પી. રાવલ</option>
        <option value="હરીન્દ્રકુમાર ડી. બલદાણીયા">હરીન્દ્રકુમાર ડી. બલદાણીયા</option>
        <option value="હરીશભાઇ જી. બારડ">હરીશભાઇ જી. બારડ</option>
        <option value="હરેશકુમાર કે. ચૌધરી">હરેશકુમાર કે. ચૌધરી</option>
        <option value="હર્ષદકુમાર એચ. કવાડ">હર્ષદકુમાર એચ. કવાડ</option>
        <option value="હર્ષિલભાઇ કે. રાવલ">હર્ષિલભાઇ કે. રાવલ</option>
        <option value="હસિતભાઇ એસ. શાહ">હસિતભાઇ એસ. શાહ</option>
        <option value="હાર્દિકકુમાર આર. ચૌધરી">હાર્દિકકુમાર આર. ચૌધરી</option>
        <option value="હાર્દિકકુમાર કે. રાઠોડ">હાર્દિકકુમાર કે. રાઠોડ</option>
        <option value="હાર્દિકકુમાર ડી. ભાંભી">હાર્દિકકુમાર ડી. ભાંભી</option>
        <option value="હાર્દિકકુમાર પી. જાદવ">હાર્દિકકુમાર પી. જાદવ</option>
        <option value="હાર્દિકભાઇ જી. ગોહિલ">હાર્દિકભાઇ જી. ગોહિલ</option>
        <option value="હિતેશભાઇ એમ. ગોહિલ">હિતેશભાઇ એમ. ગોહિલ</option>
        <option value="હિતેશભાઈ આર. સોલંકી">હિતેશભાઈ આર. સોલંકી</option>
        <option value="હિનાબેન એસ. રાઠોડ">હિનાબેન એસ. રાઠોડ</option>
        <option value="હિનાબેન સી. ચૌહાણ">હિનાબેન સી. ચૌહાણ</option>
        <option value="હિમાલયભાઇ બી. પરમાર">હિમાલયભાઇ બી. પરમાર</option>
        <option value="હિરલબેન ડી. પટેલ">હિરલબેન ડી. પટેલ</option>
        <option value="હિરેનભાઇ કે. કાકડીયા">હિરેનભાઇ કે. કાકડીયા</option>
        <option value="હિરેનભાઇ જે. દંગી">હિરેનભાઇ જે. દંગી</option>
        <option value="હેતલબેન એન. સોલંકી">હેતલબેન એન. સોલંકી</option>
        <option value="હેતલબેન કે. ભાનુપ્રિયા">હેતલબેન કે. ભાનુપ્રિયા</option>
        <option value="હેમંતભાઇ એસ. ચાવડા">હેમંતભાઇ એસ. ચાવડા</option>
        <option value="હેમલભાઇ એસ. ત્રિપાઠી">હેમલભાઇ એસ. ત્રિપાઠી</option>
        <option value="હેમાંગીબેન આર. પટેલ">હેમાંગીબેન આર. પટેલ</option>
        <option value="હેમાલીબેન બી. લંગાળીયા">હેમાલીબેન બી. લંગાળીયા</option>
        <option value="જીજ્ઞાબેન એચ. લાંધવા">જીજ્ઞાબેન એચ. લાંધવા</option>
        <option value="Choose">Choose</option>
        <option value="અંકિતકુમાર એમ. પટેલ">અંકિતકુમાર એમ. પટેલ</option>
        <option value="અંકિતાબેન એલ. પટેલ">અંકિતાબેન એલ. પટેલ</option>
        <option value="અક્ષયકુમાર એ. ચુડાસમા">અક્ષયકુમાર એ. ચુડાસમા</option>
        <option value="અક્ષયકુમાર એચ. ગોંડલિયા">અક્ષયકુમાર એચ. ગોંડલિયા</option>
        <option value="અક્ષયકુમાર બી. પડવાલા">અક્ષયકુમાર બી. પડવાલા</option>
        <option value="અજયભાઇ વી. ચૌધરી">અજયભાઇ વી. ચૌધરી</option>
        <option value="અજયસિંહ ડી. વિહોલ">અજયસિંહ ડી. વિહોલ</option>
        <option value="અજીતભાઇ બી. દેલવાડીયા">અજીતભાઇ બી. દેલવાડીયા</option>
        <option value="અનસુયાબેન એચ. સારોલા">અનસુયાબેન એચ. સારોલા</option>
        <option value="અનિતાબેન એન. દેસાઈ">અનિતાબેન એન. દેસાઈ</option>
        <option value="અનિલકુમાર જી. ચૌધરી">અનિલકુમાર જી. ચૌધરી</option>
        <option value="અનીતાબેન એસ. જાટ">અનીતાબેન એસ. જાટ</option>
        <option value="અનીતાબેન વી. મકવાણા">અનીતાબેન વી. મકવાણા</option>
        <option value="અબ્દુલભાઇ આર. શેખ">અબ્દુલભાઇ આર. શેખ</option>
        <option value="અબ્બાસભાઇ એ. ભાદરકા">અબ્બાસભાઇ એ. ભાદરકા</option>
        <option value="અરવિંદસિંહ પી ડોડીયા">અરવિંદસિંહ પી ડોડીયા</option>
        <option value="અરૂણાબેન પી. ઇચ્છુંડા">અરૂણાબેન પી. ઇચ્છુંડા</option>
        <option value="અર્જુનભાઈ આર. વસાવા">અર્જુનભાઈ આર. વસાવા</option>
        <option value="અલ્પેશકુમાર કે. દેસાઇ">અલ્પેશકુમાર કે. દેસાઇ</option>
        <option value="અલ્પેશભાઈ ડી. ચૌધરી">અલ્પેશભાઈ ડી. ચૌધરી</option>
        <option value="અવનીબા એ. ઝાલા">અવનીબા એ. ઝાલા</option>
        <option value="અશોકભાઇ સી. ચૌધરી">અશોકભાઇ સી. ચૌધરી</option>
        <option value="અશોકભાઈ એન. પરમાર">અશોકભાઈ એન. પરમાર</option>
        <option value="અશ્વિનભાઇ જી. ચાવડા">અશ્વિનભાઇ જી. ચાવડા</option>
        <option value="અસ્મિતાબેન કે. ચાવડા">અસ્મિતાબેન કે. ચાવડા</option>
        <option value="આશિષકુમાર એમ. રાઠવા">આશિષકુમાર એમ. રાઠવા</option>
        <option value="ઈન્દ્રવિજયસિંહ પી. ઝાલા">ઈન્દ્રવિજયસિંહ પી. ઝાલા</option>
        <option value="ઉદયકુમાર એસ. ગામિત">ઉદયકુમાર એસ. ગામિત</option>
        <option value="ઉમેશકુમાર એચ. ગાળીયા">ઉમેશકુમાર એચ. ગાળીયા</option>
        <option value="ઉમેશભાઇ ડી. ભરોલીયા">ઉમેશભાઇ ડી. ભરોલીયા</option>
        <option value="ઉર્વીશકુમાર ડી. સંગાડા">ઉર્વીશકુમાર ડી. સંગાડા</option>
        <option value="ઉષાબેન આર. ચાવડા">ઉષાબેન આર. ચાવડા</option>
        <option value="ઋષિભાઇ એ. પરમાર">ઋષિભાઇ એ. પરમાર</option>
        <option value="એભલભાઇ ડી. જળુ">એભલભાઇ ડી. જળુ</option>
        <option value="કરણકુમાર એ. સોલંકી">કરણકુમાર એ. સોલંકી</option>
        <option value="કલ્પેશકુમાર જે. પંડયા">કલ્પેશકુમાર જે. પંડયા</option>
        <option value="કલ્પેશભાઇ જે. ચૌધરી">કલ્પેશભાઇ જે. ચૌધરી</option>
        <option value="કશ્મીરાબેન એચ. જાદવ">કશ્મીરાબેન એચ. જાદવ</option>
        <option value="કાજલબેન કે. ચૌહાણ">કાજલબેન કે. ચૌહાણ</option>
        <option value="કાન્તિલાલ એચ. દવે">કાન્તિલાલ એચ. દવે</option>
        <option value="કાર્તિકકુમાર આઇ. મેજીયાતર">કાર્તિકકુમાર આઇ. મેજીયાતર</option>
        <option value="કાર્તિકકુમાર એ. પટેલ">કાર્તિકકુમાર એ. પટેલ</option>
        <option value="કિંજલબેન આર. ચૌધરી">કિંજલબેન આર. ચૌધરી</option>
        <option value="કિંજલબેન એ. સોલંકી">કિંજલબેન એ. સોલંકી</option>
        <option value="કિંજલબેન જે. ચૌધરી">કિંજલબેન જે. ચૌધરી</option>
        <option value="કિરણકુમાર એસ. રાઠવા">કિરણકુમાર એસ. રાઠવા</option>
        <option value="કિરણસિંહ સી. પુવાર">કિરણસિંહ સી. પુવાર</option>
        <option value="કિશોરભાઈ જી. ભેડા">કિશોરભાઈ જી. ભેડા</option>
        <option value="કુંદનબેન આર. ડોડીયા">કુંદનબેન આર. ડોડીયા</option>
        <option value="કુલદિપસિંહ આર. જાડેજા">કુલદિપસિંહ આર. જાડેજા</option>
        <option value="કુલદીપભાઇ એસ. કઠવાડિયા">કુલદીપભાઇ એસ. કઠવાડિયા</option>
        <option value="કુલદીપસિંહ પી. ઝાલા">કુલદીપસિંહ પી. ઝાલા</option>
        <option value="કેતનભાઇ એમ. બારૈયા">કેતનભાઇ એમ. બારૈયા</option>
        <option value="કેવિનભાઇ એ. રૈયાણી">કેવિનભાઇ એ. રૈયાણી</option>
        <option value="કૈલાશભાઈ આર. ભુરીયા">કૈલાશભાઈ આર. ભુરીયા</option>
        <option value="કૈલાસભાઇ એમ. રાણા">કૈલાસભાઇ એમ. રાણા</option>
        <option value="કોમલબેન ડી. ભટ્ટ">કોમલબેન ડી. ભટ્ટ</option>
        <option value="કૌશિક આર. ચરપોટ">કૌશિક આર. ચરપોટ</option>
        <option value="કૌશિકભાઇ બી. ગોહિલ">કૌશિકભાઇ બી. ગોહિલ</option>
        <option value="ક્રિષ્નાબેન એ. ચૌધરી">ક્રિષ્નાબેન એ. ચૌધરી</option>
        <option value="ક્રિષ્નાબેન એમ. સોલંકી">ક્રિષ્નાબેન એમ. સોલંકી</option>
        <option value="ક્રિષ્નાબેન એસ. કટારા">ક્રિષ્નાબેન એસ. કટારા</option>
        <option value="ખાતુંભાઈ પી. પરમાર">ખાતુંભાઈ પી. પરમાર</option>
        <option value="ગીતાબેન જી. જાંબુચા">ગીતાબેન જી. જાંબુચા</option>
        <option value="ગીરીરાજસિંહ ડી. ઝાલા">ગીરીરાજસિંહ ડી. ઝાલા</option>
        <option value="ગોપાલભાઇ એમ. રાઠોડ">ગોપાલભાઇ એમ. રાઠોડ</option>
        <option value="ગોવિંદભાઈ જે. કાલિયા">ગોવિંદભાઈ જે. કાલિયા</option>
        <option value="ગૌરાંગભાઇ આર. ભરવાડ">ગૌરાંગભાઇ આર. ભરવાડ</option>
        <option value="ઘેમરભાઈ ડી. ફોફ">ઘેમરભાઈ ડી. ફોફ</option>
        <option value="ચીરાગભાઇ એલ. પટેલ">ચીરાગભાઇ એલ. પટેલ</option>
        <option value="ચેતનાબેન એલ. પટેલ">ચેતનાબેન એલ. પટેલ</option>
        <option value="જગદીશભાઇ એન. મકવાણા">જગદીશભાઇ એન. મકવાણા</option>
        <option value="જનકભાઇ ડી. ચૌધરી">જનકભાઇ ડી. ચૌધરી</option>
        <option value="જયકિશનભાઇ એન. ગમારા">જયકિશનભાઇ એન. ગમારા</option>
        <option value="જયકુંજસિહ જે. વિહોલ">જયકુંજસિહ જે. વિહોલ</option>
        <option value="જયદિપકુમાર ડી. પટેલ">જયદિપકુમાર ડી. પટેલ</option>
        <option value="જયદેવભાઇ બી. જાદવ">જયદેવભાઇ બી. જાદવ</option>
        <option value="જયભાઇ સી. ધાંધલ્યા">જયભાઇ સી. ધાંધલ્યા</option>
        <option value="જયમીનસિંહ એ. સિંધવ">જયમીનસિંહ એ. સિંધવ</option>
        <option value="જયશ્રીબેન જી. ખાંડલા">જયશ્રીબેન જી. ખાંડલા</option>
        <option value="જલ્પાબેન કે. બારૈયા">જલ્પાબેન કે. બારૈયા</option>
        <option value="જલ્પાબેન ડી. મેખિયા">જલ્પાબેન ડી. મેખિયા</option>
        <option value="જશવંતકુમાર એમ. વરસાળે">જશવંતકુમાર એમ. વરસાળે</option>
        <option value="જાનકીબેન એન. રામાનુજ">જાનકીબેન એન. રામાનુજ</option>
        <option value="જાનકીબેન જે. કાનગડ">જાનકીબેન જે. કાનગડ</option>
        <option value="જિજ્ઞાસાબેન આર. જીણીયા">જિજ્ઞાસાબેન આર. જીણીયા</option>
        <option value="જીગરકુમાર આર. ચૌધરી">જીગરકુમાર આર. ચૌધરી</option>
        <option value="જીગરકુમાર પી. પટેલ">જીગરકુમાર પી. પટેલ</option>
        <option value="જીજ્ઞેશભાઇ ટી. ચૌધરી">જીજ્ઞેશભાઇ ટી. ચૌધરી</option>
        <option value="જેમિશભાઇ એમ. વાછાણી">જેમિશભાઇ એમ. વાછાણી</option>
        <option value="જેશંગભાઈ આર. પરમાર">જેશંગભાઈ આર. પરમાર</option>
        <option value="ટીનાભાઈ એચ. રબારી">ટીનાભાઈ એચ. રબારી</option>
        <option value="તરૂણભાઇ બી. પટેલ">તરૂણભાઇ બી. પટેલ</option>
        <option value="તુષારભાઈ કે. મેર">તુષારભાઈ કે. મેર</option>
        <option value="તુષારસિંહ બી. ડાભી">તુષારસિંહ બી. ડાભી</option>
        <option value="તેજલબેન સી. પટેલ">તેજલબેન સી. પટેલ</option>
        <option value="તેરસિંગભાઈ વી. ગરોડ">તેરસિંગભાઈ વી. ગરોડ</option>
        <option value="દર્શકકુમાર પી. ઓઝા">દર્શકકુમાર પી. ઓઝા</option>
        <option value="દિગ્વિજયસિંહ એચ. સરવૈયા">દિગ્વિજયસિંહ એચ. સરવૈયા</option>
        <option value="દિગ્વિજયસિંહ એલ. વાઘેલા">દિગ્વિજયસિંહ એલ. વાઘેલા</option>
        <option value="દિપકકુમાર એમ. રેણુકા">દિપકકુમાર એમ. રેણુકા</option>
        <option value="દિપકકુમાર એસ. ડામોર">દિપકકુમાર એસ. ડામોર</option>
        <option value="દિપકભાઇ આઇ. મોદી">દિપકભાઇ આઇ. મોદી</option>
        <option value="દિપકભાઇ આર. ચૌધરી">દિપકભાઇ આર. ચૌધરી</option>
        <option value="દિપીકાબેન સી. વસાવા">દિપીકાબેન સી. વસાવા</option>
        <option value="દિલીપકુમાર કે. ગોહિલ">દિલીપકુમાર કે. ગોહિલ</option>
        <option value="દિશીન પી. ગાંધી">દિશીન પી. ગાંધી</option>
        <option value="ધર્મિષ્ઠાબેન આર. પટેલ">ધર્મિષ્ઠાબેન આર. પટેલ</option>
        <option value="ધર્મેશભાઇ બી. પટેલ">ધર્મેશભાઇ બી. પટેલ</option>
        <option value="ધવલભાઇ એસ. ચૌધરી">ધવલભાઇ એસ. ચૌધરી</option>
        <option value="ધીરજકુમાર એમ. ચૌધરી">ધીરજકુમાર એમ. ચૌધરી</option>
        <option value="ધીરેનભાઇ જે. ગુસાઇ">ધીરેનભાઇ જે. ગુસાઇ</option>
        <option value="નયનકુમાર વી. વાઘેલા">નયનકુમાર વી. વાઘેલા</option>
        <option value="નયનાબેન બી. ડવ">નયનાબેન બી. ડવ</option>
        <option value="નરપતસિંહ એચ. સોઢા">નરપતસિંહ એચ. સોઢા</option>
        <option value="નરેશભાઇ એસ. સોનારા">નરેશભાઇ એસ. સોનારા</option>
        <option value="નાગજીભાઈ બી. રબારી">નાગજીભાઈ બી. રબારી</option>
        <option value="નારણભાઈ બી. ગળચર">નારણભાઈ બી. ગળચર</option>
        <option value="નિકિતાબેન વી. પાટીલ">નિકિતાબેન વી. પાટીલ</option>
        <option value="નિકુંજભાઇ એચ. ઝાલા">નિકુંજભાઇ એચ. ઝાલા</option>
        <option value="નિધીબેન કે. ચાવડા">નિધીબેન કે. ચાવડા</option>
        <option value="નિલેશભાઇ જે. ડોડીયા">નિલેશભાઇ જે. ડોડીયા</option>
        <option value="નિશાબેન કે. ભીમાણી">નિશાબેન કે. ભીમાણી</option>
        <option value="નિશાબેન પી. મકવાણા">નિશાબેન પી. મકવાણા</option>
        <option value="નિસર્ગભાઇ વી. ઓઝા">નિસર્ગભાઇ વી. ઓઝા</option>
        <option value="નીરવભાઇ ચાવડા">નીરવભાઇ ચાવડા</option>
        <option value="નીરવભાઇ વી. પટેલ">નીરવભાઇ વી. પટેલ</option>
        <option value="નુતનબેન ડી. ગૌતમ">નુતનબેન ડી. ગૌતમ</option>
        <option value="પંકજકુમાર એન. ચાવડા">પંકજકુમાર એન. ચાવડા</option>
        <option value="પંકજભાઇ એસ. પટેલ">પંકજભાઇ એસ. પટેલ</option>
        <option value="પંકજભાઇ પી. જાંબુકીયા">પંકજભાઇ પી. જાંબુકીયા</option>
        <option value="પંકજસિંહ બી. જાડેજા">પંકજસિંહ બી. જાડેજા</option>
        <option value="પરેશકુમાર એચ. ખસિયા">પરેશકુમાર એચ. ખસિયા</option>
        <option value="પરેશાબેન એન. ચૌધરી">પરેશાબેન એન. ચૌધરી</option>
        <option value="પલ્કેશભાઇ એ. સોલંકી">પલ્કેશભાઇ એ. સોલંકી</option>
        <option value="પાયલબેન એસ. પટેલ">પાયલબેન એસ. પટેલ</option>
        <option value="પાર્થિવભાઇ આર. સોલંકી">પાર્થિવભાઇ આર. સોલંકી</option>
        <option value="પિયુષકુમાર એમ. ચૌધરી">પિયુષકુમાર એમ. ચૌધરી</option>
        <option value="પીનલબેન કે. દિક્ષીત">પીનલબેન કે. દિક્ષીત</option>
        <option value="પુજાબેન એફ. સોલંકી">પુજાબેન એફ. સોલંકી</option>
        <option value="પૂજાબેન જે. ભાટિયા">પૂજાબેન જે. ભાટિયા</option>
        <option value="પૂજાલ એન. પારેખ">પૂજાલ એન. પારેખ</option>
        <option value="પ્રકાશકુમાર એ. પ્રજાપતિ">પ્રકાશકુમાર એ. પ્રજાપતિ</option>
        <option value="પ્રકાશકુમાર બી. પટેલ">પ્રકાશકુમાર બી. પટેલ</option>
        <option value="પ્રકાશદાન આર. ગઢવી">પ્રકાશદાન આર. ગઢવી</option>
        <option value="પ્રકાશભાઇ એન. ગામીત">પ્રકાશભાઇ એન. ગામીત</option>
        <option value="પ્રતાપસિંહ એસ. ઠાકોર">પ્રતાપસિંહ એસ. ઠાકોર</option>
        <option value="પ્રતિક્ષાબેન ડી. ભાટીયા">પ્રતિક્ષાબેન ડી. ભાટીયા</option>
        <option value="પ્રતિપાલભાઈ એમ વાળા">પ્રતિપાલભાઈ એમ વાળા</option>
        <option value="પ્રતીકકુમાર જે. રાઠવા">પ્રતીકકુમાર જે. રાઠવા</option>
        <option value="પ્રદિપભાઇ જી. રત્નુ">પ્રદિપભાઇ જી. રત્નુ</option>
        <option value="પ્રદિપભાઇ ડી. ગેલાત">પ્રદિપભાઇ ડી. ગેલાત</option>
        <option value="પ્રદિપસિંહ જે. રાજપૂત">પ્રદિપસિંહ જે. રાજપૂત</option>
        <option value="પ્રદીપકુમાર બી. કટારા">પ્રદીપકુમાર બી. કટારા</option>
        <option value="પ્રદીપભાઇ એસ. ગામીત">પ્રદીપભાઇ એસ. ગામીત</option>
        <option value="પ્રદીપભાઇ વી. બારડ">પ્રદીપભાઇ વી. બારડ</option>
        <option value="પ્રફુલ્લભાઇ વી. જોશી">પ્રફુલ્લભાઇ વી. જોશી</option>
        <option value="પ્રવિણકુમાર પી. સોલંકી">પ્રવિણકુમાર પી. સોલંકી</option>
        <option value="પ્રશાંતકુમાર પી. મેર">પ્રશાંતકુમાર પી. મેર</option>
        <option value="પ્રિતેશભાઇ બી. માળીયા">પ્રિતેશભાઇ બી. માળીયા</option>
        <option value="પ્રિયંકભાઇ જે. પટેલ">પ્રિયંકભાઇ જે. પટેલ</option>
        <option value="પ્રિયંકાબેન એલ. જાની">પ્રિયંકાબેન એલ. જાની</option>
        <option value="પ્રિયલબેન ડી. દિહોરા">પ્રિયલબેન ડી. દિહોરા</option>
        <option value="બકુલભાઇ આર. ચૌધરી">બકુલભાઇ આર. ચૌધરી</option>
        <option value="બાલકૃષ્ણભાઇ એન. જાળેલા">બાલકૃષ્ણભાઇ એન. જાળેલા</option>
        <option value="બાલક્રીષ્ન એમ. પટેલ">બાલક્રીષ્ન એમ. પટેલ</option>
        <option value="બાલુભાઈ એચ. ગળચર">બાલુભાઈ એચ. ગળચર</option>
        <option value="બિંદેશ્વરીબેન બી પટેલ">બિંદેશ્વરીબેન બી પટેલ</option>
        <option value="બીજલબેન જે. ચૌધરી">બીજલબેન જે. ચૌધરી</option>
        <option value="બીપીનભાઇ બી. પટેલ">બીપીનભાઇ બી. પટેલ</option>
        <option value="બ્રિજેશકુમાર એમ. કટારા">બ્રિજેશકુમાર એમ. કટારા</option>
        <option value="ભરતભાઇ એચ. ખાંભલા">ભરતભાઇ એચ. ખાંભલા</option>
        <option value="ભરતભાઇ એન. ચૌધરી">ભરતભાઇ એન. ચૌધરી</option>
        <option value="ભરતસિંહ એચ. ગઢવી">ભરતસિંહ એચ. ગઢવી</option>
        <option value="ભાણજીભાઈ જી. બાંભણીયા">ભાણજીભાઈ જી. બાંભણીયા</option>
        <option value="ભારતીબેન એ. ભીટોરા">ભારતીબેન એ. ભીટોરા</option>
        <option value="ભાવનાબેન એસ. પટેલ">ભાવનાબેન એસ. પટેલ</option>
        <option value="ભાવિકાબેન ડી. વાણિયા">ભાવિકાબેન ડી. વાણિયા</option>
        <option value="ભાવેશકુમાર એમ. પરમાર">ભાવેશકુમાર એમ. પરમાર</option>
        <option value="ભુમિકાબેન એન. ડોડીયા">ભુમિકાબેન એન. ડોડીયા</option>
        <option value="ભૂમીબેન સી. પંચાલ">ભૂમીબેન સી. પંચાલ</option>
        <option value="મંદિપકુમાર એન. ચૌહાણ">મંદિપકુમાર એન. ચૌહાણ</option>
        <option value="મનસુખભાઇ એસ.રાઠોડ">મનસુખભાઇ એસ.રાઠોડ</option>
        <option value="મનહરસિંહ ડી. મોરી">મનહરસિંહ ડી. મોરી</option>
        <option value="મનહરસિંહ યુ. જનવાર">મનહરસિંહ યુ. જનવાર</option>
        <option value="મનિષાબેન આર. ડાંગર">મનિષાબેન આર. ડાંગર</option>
        <option value="મનિષાબેન બી. બાંભણિયા">મનિષાબેન બી. બાંભણિયા</option>
        <option value="મનુભાઈ જી. નાનોલીયા">મનુભાઈ જી. નાનોલીયા</option>
        <option value="મનુભાઈ બી. બારડ">મનુભાઈ બી. બારડ</option>
        <option value="મનોજકુમાર આર. પંડ્યા">મનોજકુમાર આર. પંડ્યા</option>
        <option value="મનોજભાઈ આર. સોલંકી">મનોજભાઈ આર. સોલંકી</option>
        <option value="મયુરભાઇ જી. પરમાર">મયુરભાઇ જી. પરમાર</option>
        <option value="મહંમદહનીફ આર. માલવી">મહંમદહનીફ આર. માલવી</option>
        <option value="મહેશભાઇ ટી. કાંબરીયા">મહેશભાઇ ટી. કાંબરીયા</option>
        <option value="મહેશભાઇ બી. બત્તા">મહેશભાઇ બી. બત્તા</option>
        <option value="મહેશભાઈ એમ. ચૌધરી">મહેશભાઈ એમ. ચૌધરી</option>
        <option value="માધવીબેન બી. રાઠોડ">માધવીબેન બી. રાઠોડ</option>
        <option value="માધુરીબેન જી. રીઝવાણી">માધુરીબેન જી. રીઝવાણી</option>
        <option value="મિતલબેન એમ. મહેશ્વરી">મિતલબેન એમ. મહેશ્વરી</option>
        <option value="મિતલબેન એસ. ઠુંમર">મિતલબેન એસ. ઠુંમર</option>
        <option value="મિત્તલબેન આર. પરમાર">મિત્તલબેન આર. પરમાર</option>
        <option value="મિલનભાઇ આર. રાવલ">મિલનભાઇ આર. રાવલ</option>
        <option value="મુકેશભાઈ વી. પંડયા">મુકેશભાઈ વી. પંડયા</option>
        <option value="મેઘાબા એન. ચાવડા">મેઘાબા એન. ચાવડા</option>
        <option value="મેહુલકુમાર એન. ચૌધરી">મેહુલકુમાર એન. ચૌધરી</option>
        <option value="મેહુલકુમાર એમ. ચૌધરી">મેહુલકુમાર એમ. ચૌધરી</option>
        <option value="મેહુલભાઇ એ. વડાવલીયા">મેહુલભાઇ એ. વડાવલીયા</option>
        <option value="મેહુલભાઇ જે. ચોસલા">મેહુલભાઇ જે. ચોસલા</option>
        <option value="મેહુલભાઈ વી. રથવી">મેહુલભાઈ વી. રથવી</option>
        <option value="મોનિકાબેન એન. મોડીયા">મોનિકાબેન એન. મોડીયા</option>
        <option value="મોહિતસિંહ વી. પાવરા">મોહિતસિંહ વી. પાવરા</option>
        <option value="મૌલિકભાઇ ડી. પટેલ">મૌલિકભાઇ ડી. પટેલ</option>
        <option value="મૌલિકભાઇ સી. સોલંકી">મૌલિકભાઇ સી. સોલંકી</option>
        <option value="યશભાઇ બી. ચૌધરી">યશભાઇ બી. ચૌધરી</option>
        <option value="યુવરાજસિંહ એન. ચાવડા">યુવરાજસિંહ એન. ચાવડા</option>
        <option value="યુવરાજસિંહ બી. ભંડારી">યુવરાજસિંહ બી. ભંડારી</option>
        <option value="યુવરાજસિંહ બી. રાઠોડ">યુવરાજસિંહ બી. રાઠોડ</option>
        <option value="યોગેન્દ્રભાઇ જે. વાળા">યોગેન્દ્રભાઇ જે. વાળા</option>
        <option value="યોગેશકુમાર પી. બારૈયા">યોગેશકુમાર પી. બારૈયા</option>
        <option value="યોગેશભાઇ એ . વળવી">યોગેશભાઇ એ . વળવી</option>
        <option value="યોગેશભાઇ જી. રાવલ">યોગેશભાઇ જી. રાવલ</option>
        <option value="યોગેશભાઇ પી. ભટ્ટી">યોગેશભાઇ પી. ભટ્ટી</option>
        <option value="રણજીતભાઇ ઓ. મકવાણા">રણજીતભાઇ ઓ. મકવાણા</option>
        <option value="રમીલાભાઇ બી. મકવાના">રમીલાભાઇ બી. મકવાના</option>
        <option value="રમેશભાઇ બી. ડિહોરા">રમેશભાઇ બી. ડિહોરા</option>
        <option value="રમેશભાઇ બી. ભુખયા">રમેશભાઇ બી. ભુખયા</option>
        <option value="રવિકાંતભાઇ એચ. વસાવા">રવિકાંતભાઇ એચ. વસાવા</option>
        <option value="રવિભાઇ કે. મકવાણા">રવિભાઇ કે. મકવાણા</option>
        <option value="રવિભાઇ જી. ધવાણીયા">રવિભાઇ જી. ધવાણીયા</option>
        <option value="રવીકુમાર પી. સિંધવ">રવીકુમાર પી. સિંધવ</option>
        <option value="રવીન્દ્રભાઇ એચ. ચાવડા">રવીન્દ્રભાઇ એચ. ચાવડા</option>
        <option value="રવીસિંહ સી. બારાડ">રવીસિંહ સી. બારાડ</option>
        <option value="રસિકભાઇ બી. વસવેલીયા">રસિકભાઇ બી. વસવેલીયા</option>
        <option value="રાકેશકુમાર વી. માનજીભાઈ">રાકેશકુમાર વી. માનજીભાઈ</option>
        <option value="રાકેશભાઇ એ. કંડોલીયા">રાકેશભાઇ એ. કંડોલીયા</option>
        <option value="રાકેશભાઈ એમ. કાતરીયા">રાકેશભાઈ એમ. કાતરીયા</option>
        <option value="રાજકુમાર કે. ગોહિલ">રાજકુમાર કે. ગોહિલ</option>
        <option value="રાજદિપસિંહ બી. રાઠોડ">રાજદિપસિંહ બી. રાઠોડ</option>
        <option value="રાજદીપસિંહ ડી. જાડેજા">રાજદીપસિંહ ડી. જાડેજા</option>
        <option value="રાજુભાઇ કે. દેસાઈ">રાજુભાઇ કે. દેસાઈ</option>
        <option value="રાજેશભાઇ એન. ગાગીયા">રાજેશભાઇ એન. ગાગીયા</option>
        <option value="રાયમલભાઇ જે. લાવડિયા">રાયમલભાઇ જે. લાવડિયા</option>
        <option value="રાહુલકુમાર જે. વનાણી">રાહુલકુમાર જે. વનાણી</option>
        <option value="રાહુલકુમાર વી. જેઠવા">રાહુલકુમાર વી. જેઠવા</option>
        <option value="રાહુલભાઇ આર. વાવડીયા">રાહુલભાઇ આર. વાવડીયા</option>
        <option value="રાહુલભાઈ પી.જાંબુકીયા">રાહુલભાઈ પી.જાંબુકીયા</option>
        <option value="રીટાબેન પી. વૈષ્ણવ">રીટાબેન પી. વૈષ્ણવ</option>
        <option value="રીધ્ધીબેન એમ. રાઠોડ">રીધ્ધીબેન એમ. રાઠોડ</option>
        <option value="રૂપાબેન એમ. ખીમસુરિયા">રૂપાબેન એમ. ખીમસુરિયા</option>
        <option value="રેખાબેન આર. કનારા">રેખાબેન આર. કનારા</option>
        <option value="રોનકકુમાર કે. સેનમા">રોનકકુમાર કે. સેનમા</option>
        <option value="રોહિતભાઇ બી. બારૈયા">રોહિતભાઇ બી. બારૈયા</option>
        <option value="લક્ષ્મણભાઈ દેસાઈ">લક્ષ્મણભાઈ દેસાઈ</option>
        <option value="લલિતાબેન એ. પરમાર">લલિતાબેન એ. પરમાર</option>
        <option value="લાલજીભાઈ જે. ભીલ">લાલજીભાઈ જે. ભીલ</option>
        <option value="લાલભા ડી. લીંબોલા">લાલભા ડી. લીંબોલા</option>
        <option value="લાલુભાઇ આર. કમાળીયા">લાલુભાઇ આર. કમાળીયા</option>
        <option value="વંદનાબેન કે. શ્રીમાળી">વંદનાબેન કે. શ્રીમાળી</option>
        <option value="વનિતાબેન જી. દાતણિયા">વનિતાબેન જી. દાતણિયા</option>
        <option value="વસીમહસન એમ. શેખ">વસીમહસન એમ. શેખ</option>
        <option value="વિક્રમભાઈ ડી. ઝાંપડિયા">વિક્રમભાઈ ડી. ઝાંપડિયા</option>
        <option value="વિજયકુમાર ડી પરમાર">વિજયકુમાર ડી પરમાર</option>
        <option value="વિજયભાઇ એમ. ગોજીયા">વિજયભાઇ એમ. ગોજીયા</option>
        <option value="વિજયભાઇ એસ. લીંબડીયા">વિજયભાઇ એસ. લીંબડીયા</option>
        <option value="વિજયભાઇ ડી. શિંગરખીયા">વિજયભાઇ ડી. શિંગરખીયા</option>
        <option value="વિજયભાઇ બી. પટેલ">વિજયભાઇ બી. પટેલ</option>
        <option value="વિજયભાઇ વી. કોડીયાતર">વિજયભાઇ વી. કોડીયાતર</option>
        <option value="વિજયસિંહ એસ. ડોડિયા">વિજયસિંહ એસ. ડોડિયા</option>
        <option value="વિદેશભાઈ બી. ચૌહાણ">વિદેશભાઈ બી. ચૌહાણ</option>
        <option value="વિપુલકુમાર આઇ. પટેલ">વિપુલકુમાર આઇ. પટેલ</option>
        <option value="વિપુલભાઇ કે. નાયક">વિપુલભાઇ કે. નાયક</option>
        <option value="વિપુલભાઇ પી. બોરીચા">વિપુલભાઇ પી. બોરીચા</option>
        <option value="વિમલદાન કે. ગઢવી">વિમલદાન કે. ગઢવી</option>
        <option value="વિશાખાબેન એ. બુધ્ધદેવ">વિશાખાબેન એ. બુધ્ધદેવ</option>
        <option value="વિશાલકુમાર ડી. ગામિત">વિશાલકુમાર ડી. ગામિત</option>
        <option value="વીણાબેન પી. સિંધવ">વીણાબેન પી. સિંધવ</option>
        <option value="વીરાભાઇ આર. ઉલવા">વીરાભાઇ આર. ઉલવા</option>
        <option value="વેજીબેન એ. ચાવડા">વેજીબેન એ. ચાવડા</option>
        <option value="શામાળભાઈ ઓ. રબારી">શામાળભાઈ ઓ. રબારી</option>
        <option value="શિરીષભાઇ પી. કામેજળીયા">શિરીષભાઇ પી. કામેજળીયા</option>
        <option value="શિવમભાઇ જે. ભટ્ટ">શિવમભાઇ જે. ભટ્ટ</option>
        <option value="શિવરાજસિંહ એસ. જાડેજા">શિવરાજસિંહ એસ. જાડેજા</option>
        <option value="શીતલબેન એલ. રબારી">શીતલબેન એલ. રબારી</option>
        <option value="શેલૈષભાઇ આર. રબારી">શેલૈષભાઇ આર. રબારી</option>
        <option value="સંકેતકુમાર બી. પટેલ">સંકેતકુમાર બી. પટેલ</option>
        <option value="સંગીતાબેન એચ. ડાભી">સંગીતાબેન એચ. ડાભી</option>
        <option value="સંગીતાબેન પી. પરમાર">સંગીતાબેન પી. પરમાર</option>
        <option value="સંજયકુમાર કે. તડવી">સંજયકુમાર કે. તડવી</option>
        <option value="સંજયકુમાર કે. વાળંદ">સંજયકુમાર કે. વાળંદ</option>
        <option value="સંજયભાઇ એ. રબારી">સંજયભાઇ એ. રબારી</option>
        <option value="સંજયભાઇ એલ. રાઠોડ">સંજયભાઇ એલ. રાઠોડ</option>
        <option value="સંજયભાઇ જી. વાળા">સંજયભાઇ જી. વાળા</option>
        <option value="સંજયભાઇ પી.સોલંકી">સંજયભાઇ પી.સોલંકી</option>
        <option value="સંજયસિંહ બી. વાઘેલા">સંજયસિંહ બી. વાઘેલા</option>
        <option value="સંદિપભાઇ એમ. કસવાળા">સંદિપભાઇ એમ. કસવાળા</option>
        <option value="સંદીપભાઇ જી. રાવળ">સંદીપભાઇ જી. રાવળ</option>
        <option value="સતિષકુમાર આર. સાંકળીયા">સતિષકુમાર આર. સાંકળીયા</option>
        <option value="સતિષભાઇ ટી. સોલંકી">સતિષભાઇ ટી. સોલંકી</option>
        <option value="સતિષભાઈ વી. તડવી">સતિષભાઈ વી. તડવી</option>
        <option value="સહદેવભાઇ એમ. કાણોતરા">સહદેવભાઇ એમ. કાણોતરા</option>
        <option value="સહદેવભાઇ વી. રાઠોડ">સહદેવભાઇ વી. રાઠોડ</option>
        <option value="સહદેવસિંહ એમ. રાઠોડ">સહદેવસિંહ એમ. રાઠોડ</option>
        <option value="સુધીરભાઇ પી પટેલ">સુધીરભાઇ પી પટેલ</option>
        <option value="સુનિતાબેન જી. ભરડવા">સુનિતાબેન જી. ભરડવા</option>
        <option value="સુમનબેન એમ. રાવલ">સુમનબેન એમ. રાવલ</option>
        <option value="સુરજભાઇ એન. પવાર">સુરજભાઇ એન. પવાર</option>
        <option value="સુરેશભાઇ કે. ચુડાસમા">સુરેશભાઇ કે. ચુડાસમા</option>
        <option value="સોનલબેન જી.રબારી">સોનલબેન જી.રબારી</option>
        <option value="સોમાભાઈ બી. સોલંકી">સોમાભાઈ બી. સોલંકી</option>
        <option value="સૌરભભાઇ પી. રાવલ">સૌરભભાઇ પી. રાવલ</option>
        <option value="હરીન્દ્રકુમાર ડી. બલદાણીયા">હરીન્દ્રકુમાર ડી. બલદાણીયા</option>
        <option value="હરીશભાઇ જી. બારડ">હરીશભાઇ જી. બારડ</option>
        <option value="હરેશકુમાર કે. ચૌધરી">હરેશકુમાર કે. ચૌધરી</option>
        <option value="હર્ષદકુમાર એચ. કવાડ">હર્ષદકુમાર એચ. કવાડ</option>
        <option value="હર્ષિલભાઇ કે. રાવલ">હર્ષિલભાઇ કે. રાવલ</option>
        <option value="હસિતભાઇ એસ. શાહ">હસિતભાઇ એસ. શાહ</option>
        <option value="હાર્દિકકુમાર આર. ચૌધરી">હાર્દિકકુમાર આર. ચૌધરી</option>
        <option value="હાર્દિકકુમાર કે. રાઠોડ">હાર્દિકકુમાર કે. રાઠોડ</option>
        <option value="હાર્દિકકુમાર ડી. ભાંભી">હાર્દિકકુમાર ડી. ભાંભી</option>
        <option value="હાર્દિકકુમાર પી. જાદવ">હાર્દિકકુમાર પી. જાદવ</option>
        <option value="હાર્દિકભાઇ જી. ગોહિલ">હાર્દિકભાઇ જી. ગોહિલ</option>
        <option value="હિતેશભાઇ એમ. ગોહિલ">હિતેશભાઇ એમ. ગોહિલ</option>
        <option value="હિતેશભાઈ આર. સોલંકી">હિતેશભાઈ આર. સોલંકી</option>
        <option value="હિનાબેન એસ. રાઠોડ">હિનાબેન એસ. રાઠોડ</option>
        <option value="હિનાબેન સી. ચૌહાણ">હિનાબેન સી. ચૌહાણ</option>
        <option value="હિમાલયભાઇ બી. પરમાર">હિમાલયભાઇ બી. પરમાર</option>
        <option value="હિરલબેન ડી. પટેલ">હિરલબેન ડી. પટેલ</option>
        <option value="હિરેનભાઇ કે. કાકડીયા">હિરેનભાઇ કે. કાકડીયા</option>
        <option value="હિરેનભાઇ જે. દંગી">હિરેનભાઇ જે. દંગી</option>
        <option value="હેતલબેન એન. સોલંકી">હેતલબેન એન. સોલંકી</option>
        <option value="હેતલબેન કે. ભાનુપ્રિયા">હેતલબેન કે. ભાનુપ્રિયા</option>
        <option value="હેમંતભાઇ એસ. ચાવડા">હેમંતભાઇ એસ. ચાવડા</option>
        <option value="હેમલભાઇ એસ. ત્રિપાઠી">હેમલભાઇ એસ. ત્રિપાઠી</option>
        <option value="હેમાંગીબેન આર. પટેલ">હેમાંગીબેન આર. પટેલ</option>
        <option value="હેમાલીબેન બી. લંગાળીયા">હેમાલીબેન બી. લંગાળીયા</option>
        <option value="જીજ્ઞાબેન એચ. લાંધવા">જીજ્ઞાબેન એચ. લાંધવા</option>
      </select>
    </div>
    <div class="col-3">
      <button (click)="SaveName()" class="btn btn-dark" href="#" style="margin-top: 32px;">Save</button>
    </div>
  </div>
  <div *ngIf="mode=='quiz' && quiz && IsName">
    <div *ngFor="let question of filteredQuestions;">
      <div *ngIf="IsName" class="badge badge-info">Question {{pager.index + 1}} of {{pager.count}}.</div>
      <div *ngIf="config.duration" class="badge" style="color: black; float: right;">Time: {{ellapsedTime}} /
        {{duration}}
      </div>
      <h3 class="font-weight-normal">{{pager.index + 1}}.
        <span [innerHTML]="question.name"></span>
      </h3>
      <div class="row text-left options">
        <div class="col-md-6 col-sm-12" *ngFor="let option of  question.options">
          <div class="option">
            <label class="font-weight-normal" [attr.for]="option.id">
              <input id="{{option.id}}" type="checkbox" [(ngModel)]="option.selected"
                (change)="onSelect(question, option);" /> {{option.name}}
            </label>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="text-center" *ngIf="IsName">
      <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(0);">First</button>
      <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(pager.index - 1);">Prev</button>
      <button class="btn btn-primary" (click)="goTo(pager.index + 1);">Next</button>
      <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(pager.count - 1);">Last</button>
      <!--<pagination *ngIf="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->
    </div>
  </div>

  <div class="row text-center" *ngIf="mode=='review' && IsName">
    <div class="col-4 cursor-pointer" *ngFor="let question of quiz.questions; let index = index;">
      <div (click)="goTo(index)" class="p-3 mb-2 {{ isAnswered(question) == 'Answered'? 'bg-info': 'bg-warning' }}">
        {{index + 1}}. {{ isAnswered(question) }}</div>
    </div>
  </div>
  <div class="result" *ngIf="mode=='result'">
    <!-- <h2>Quiz Result</h2>
    <div *ngFor="let question of quiz.questions; let index = index">
      <div class="result-question">
        <h5>{{index + 1}}. {{question.name}}</h5>
        <div class="row">
          <div class="col-6" *ngFor="let Option of question.options">
            <input id="{{Option.id}}" type="checkbox" disabled="disabled" [(ngModel)]="Option.selected" />
            {{Option.name}}
          </div>
        </div>
        <div class="p-1 m-2 alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Your answer
          is {{isCorrect(question)}}.</div>
      </div>
    </div> -->
    <h4 class="alert alert-info text-center">Test completed successfully, you will redirect to home in 3 sec.</h4>
  </div>
  <hr />
  <div *ngIf="mode!='result' && IsName">
    <button class="btn btn-warning" (click)="mode = 'quiz'">Quiz</button>
    <button class="btn btn-info" (click)="mode = 'review'">Review</button>
    <button class="btn btn-primary" (click)="onSubmit();">Submit Quiz</button>
  </div>
</div>