<div>
    <form [formGroup]="quizForm">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Name</label>
                    <input formControlName="Name" type="text" class="form-control" placeholder="Name">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Description</label>
                    <input formControlName="Description" type="text" class="form-control" placeholder="description">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Duration (in Min)</label>
                    <input formControlName="Duration" type="number" class="form-control" placeholder="Duration">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id='my-spreadsheet'></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" (click)="Submit()" class="btn btn-primary mb-2">Save</button>
            </div>
        </div>
    </form>
</div>